.db-debug{
    border: 2px solid red;
}

body{
    background-color: white;
}

:root {
	--color-bg-1: #2c3e50;
	--color-bg-2: #1abc9c;
	--color-bg-3: #3a546d;
}

header{
    background-color: var(--color-bg-1);
}

/* ||| NAVBAR ||| */

header>.navbar{
    background-color: var(--color-bg-1);
}

/* specifica con l'id */
.navbar-nav a{
    color: white;
}

.navbar-nav a:hover{
    color: greenyellow;
}

/*|||--- MAIN ---|||*/
.odd{
    background-color: var(--color-bg-2);
}

h1{
    font-size: calc(2rem + 1.5vw);
}

h2{
    font-size: calc(1.7rem + .9vw);}

h3{
    font-size: calc(1.1rem + .6vw);
}

/* HERO */

#hero img{
    width: 150px;
}

#hero .star-bar{
    background-color: white;
}

/* PORTFOLIO */

#portfolio .card{
    border: 0px;
    overflow: hidden;
}

#portfolio  .card>img{
    border-radius: 10px;
}

#portfolio .star-icon{
    color: var(--color-bg-1);
}

/* star deco */

.star-bar{
    height: 5px;
    width: 100px;
}

#portfolio .star-bar{
    background-color: var(--color-bg-1);
}


/* ABOUT */

#about .star-bar{
    width: 50px;
    background-color: white;
}

/* #about .btn:before{
    content: "\f019";
    font-family: "Font Awesome 6 Free";
} */

/* CONTACT */

#contact form input,
#contact form textarea{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid lightslategray;
    width: 100%;
}

#contact .star-bar{
    width: 50px;
    background-color: var(--color-bg-1);
}

/* FOOTER */

#footer-top{
    background-color: var(--color-bg-3);
}

#footer-top li a{
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    width: 15px;
    height: 15px;
}

#footer-top li{
    list-style: none;
    margin-bottom: 1rem;
}

#footer-top li a i{
    color: white;
    vertical-align: middle; 
    text-align: center;
}

/* centro ul recuperando i px di padding delle a con un margine negativo */
#footer-top ul{
    margin-left: -10px;
}

#footer-bottom{
    background-color: var(--color-bg-1);
}

#footer-bottom a{
    text-decoration: none;
    color: white;
}


@media screen and (min-width: 768px){
    #hero img{
        width: 200px;
    }
    
    #hero h1{
        font-size: calc(2rem + 1.5vw);
    }

    #footer-top>.container{
        display: flex;
    }
}